_fed/src/templates/index.jade
doctype html
html(lang='')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='css/main.css')
    script(src="js/main.js")
  body
  div.container-fluid.first-section
    div.container
      div.row
        div.col-md-12.col-sm-12.col-xs-12.first-content#first
          img.hid.logo(src='img/logo.png',alt='logo')
          h1.hid i love design
          p.hid I'm glad that you visited my site where he can get to
            br
            | know me and my work.
          a(href='#second')
            img.ar-down(src='img/bg.png',alt='')
  div.container-fluid.second-section
    div.container
      div.row
        div.col-md-12.col-sm-12.col-xs-12.second-content#second
          div.main-text
            p.hid My name is Vlad Musienko, I'm a web designer. I love to draw and all that is connected with the design. In this area a long time ago and during this time I managed to create several successful projects used by people all over the world.
            p.hid I love the simplicity in the design of web sites. As I see it,people, it's like my work. Naturally do not want to rest on our laurels and will continue further studies to improve soybean skills, creating new interesting creative projects.
            h2.hid what i do
          div.row
            div.three-boxes
              div.box.hid
                h3 TEMPLATE.
                p Lately, I often create templates for WordPress. The portfolio is the presentation and the opportunity to buy them on the site Themeforest.
              div.box.hid
                h3 BRAND.
                p Creating a brand is a very complex process aimed at the creation and positioning the unique persons of the company, its products and services.
              div.box.hid
                h3 DREAMS.
                p Everyone is able to destroy the dream, but not everyone is able to create it. I try to help people in its definition as a person and specialist.
  div.container-fluid.third-section
    div.container
      div.row
        div.col-md-12.third-content
          h2.hid my work
          ul.nav.nav-justified.hid
            li
              a All Works
            li
              a Landing Page
            li
              a Web Design
            li
              a Icon Design
            li
              a Template
          div.photo-blocks.hid
            div.block
              img(src='http://lorempixel.com/300/300/sports',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/animals',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/cats',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/fashion',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/transport',alt='')
              h5 Positionly gain more traffic
              p Web Design
            div.block
              img(src='http://lorempixel.com/300/300/nightlife',alt='')
              h5 Positionly gain more traffic
              p Web Design
          button.btn.btn-violet.hid See My Work
  div.container-fluid.fourth-section
    div.container
      div.row
        div.col-md-12.fourth-content
          h2.hid photography
          p.hid In my life there is a place for photos. I love to share experiences and beautiful moments of your life with others. You can see the first examples of the new work, or photos from my vacation or a walk in the park. I thought you would be interested.
          div.photography.hid
            div.photo
              img(src='http://lorempixel.com/300/300/nightlife',alt='')
            div.photo
              img(src='http://lorempixel.com/300/300/animals',alt='')
            div.photo
              img(src='http://lorempixel.com/300/300/cats',alt='')
             div.photo
              img(src='http://lorempixel.com/300/300/transport',alt='')
            div.photo
              img(src='http://lorempixel.com/300/300/sports',alt='')
            div.photo
              img(src='http://lorempixel.com/300/300/fashion',alt='')
          button.btn.btn-violet.hid See My Photoblog
  div.container-fluid.fifth-section
    div.container
      div.row
        div.col-md-6.col-md-offset-3.fifth-content.hid
          img(src='img/inf.png',alt='')
          p Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. I do not spam.
          form
            div.input-group
              input.form-control(type="email",placeholder="Enter your email...")
              span.input-group-btn
                button.btn.violet-group Subscribe
  div.container-fluid.six-section
    div.container
      div.row
        div.col-md-6.col-md-offset-3.six-content.hid
          ul.nav.nav-justified
            li
             a(href='http://twitter.com',target="_blank")
              i.fa.fa-twitter
            li
              a(href='#',target="_blank")
                i.fa.fa-behance-square
            li
              a(href='#',target="_blank")
                i.fa.fa-instagram
            li
              a(href='#',target="_blank")
                i.fa.fa-amazon
          p Copyright © 2014. All Rights Reserved.
          p Made With Love By @AirTheme

public/index.html
<!DOCTYPE html><html lang=""><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="description" content=""><meta name="author" content=""><link rel="stylesheet" href="css/main.css"><script src="js/main.js"></script></head><body></body><div class="container-fluid first-section"><div class="container"><div class="row"><div id="first" class="col-md-12 col-sm-12 col-xs-12 first-content"><img src="img/logo.png" alt="logo" class="hid logo"><h1 class="hid">i love design</h1><p class="hid">I'm glad that you visited my site where he can get to<br>know me and my work.</p><a href="#second"><img src="img/bg.png" alt="" class="ar-down"></a></div></div></div></div><div class="container-fluid second-section"><div class="container"><div class="row"><div id="second" class="col-md-12 col-sm-12 col-xs-12 second-content"><div class="main-text"><p class="hid">My name is Vlad Musienko, I'm a web designer. I love to draw and all that is connected with the design. In this area a long time ago and during this time I managed to create several successful projects used by people all over the world.</p><p class="hid">I love the simplicity in the design of web sites. As I see it,people, it's like my work. Naturally do not want to rest on our laurels and will continue further studies to improve soybean skills, creating new interesting creative projects.</p><h2 class="hid">what i do</h2></div><div class="row"><div class="three-boxes"><div class="box hid"><h3>TEMPLATE.</h3><p>Lately, I often create templates for WordPress. The portfolio is the presentation and the opportunity to buy them on the site Themeforest.</p></div><div class="box hid"><h3>BRAND.</h3><p>Creating a brand is a very complex process aimed at the creation and positioning the unique persons of the company, its products and services.</p></div><div class="box hid"><h3>DREAMS.</h3><p>Everyone is able to destroy the dream, but not everyone is able to create it. I try to help people in its definition as a person and specialist.</p></div></div></div></div></div></div></div><div class="container-fluid third-section"><div class="container"><div class="row"><div class="col-md-12 third-content"><h2 class="hid">my work</h2><ul class="nav nav-justified hid"><li><a>All Works</a></li><li><a>Landing Page</a></li><li><a>Web Design</a></li><li><a>Icon Design</a></li><li><a>Template</a></li></ul><div class="photo-blocks hid"><div class="block"><img src="http://lorempixel.com/300/300/sports" alt=""><h5>Positionly gain more traffic</h5><p>Web Design</p></div><div class="block"><img src="http://lorempixel.com/300/300/animals" alt=""><h5>Positionly gain more traffic</h5><p>Web Design</p></div><div class="block"><img src="http://lorempixel.com/300/300/cats" alt=""><h5>Positionly gain more traffic</h5><p>Web Design</p></div><div class="block"><img src="http://lorempixel.com/300/300/fashion" alt=""><h5>Positionly gain more traffic</h5><p>Web Design</p></div><div class="block"><img src="http://lorempixel.com/300/300/transport" alt=""><h5>Positionly gain more traffic</h5><p>Web Design</p></div><div class="block"><img src="http://lorempixel.com/300/300/nightlife" alt=""><h5>Positionly gain more traffic</h5><p>Web Design</p></div></div><button class="btn btn-violet hid">See My Work</button></div></div></div></div><div class="container-fluid fourth-section"><div class="container"><div class="row"><div class="col-md-12 fourth-content"><h2 class="hid">photography</h2><p class="hid">In my life there is a place for photos. I love to share experiences and beautiful moments of your life with others. You can see the first examples of the new work, or photos from my vacation or a walk in the park. I thought you would be interested.</p><div class="photography hid"><div class="photo"><img src="http://lorempixel.com/300/300/nightlife" alt=""></div><div class="photo"><img src="http://lorempixel.com/300/300/animals" alt=""></div><div class="photo"><img src="http://lorempixel.com/300/300/cats" alt=""></div><div class="photo"><img src="http://lorempixel.com/300/300/transport" alt=""></div><div class="photo"><img src="http://lorempixel.com/300/300/sports" alt=""></div><div class="photo"><img src="http://lorempixel.com/300/300/fashion" alt=""></div></div><button class="btn btn-violet hid">See My Photoblog</button></div></div></div></div><div class="container-fluid fifth-section"><div class="container"><div class="row"><div class="col-md-6 col-md-offset-3 fifth-content hid"><img src="img/inf.png" alt=""><p>Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. I do not spam.</p><form><div class="input-group"><input type="email" placeholder="Enter your email..." class="form-control"><span class="input-group-btn"><button class="btn violet-group">Subscribe</button></span></div></form></div></div></div></div><div class="container-fluid six-section"><div class="container"><div class="row"><div class="col-md-6 col-md-offset-3 six-content hid"><ul class="nav nav-justified"><li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-behance-square"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-amazon"></i></a></li></ul><p>Copyright © 2014. All Rights Reserved.</p><p>Made With Love By @AirTheme</p></div></div></div></div></html>
